
.Main h1{
  color: white;
  font-family: Podkova;
  text-align: center;
  margin-bottom: 0;
  
}



#phonetically{
  font-family: "Inter";
  display:flex ;
 color:#D9D9D9 ; 
 font-style: italic;
 justify-content: center;
 text-align: center;
 font-weight: 200;
 margin-top: 0;
 margin-bottom: 0;
 
}

.Main {
  background-color:#354f52;
  min-height: 100vh;
 font-size: 30px;
 font-family: Podkova;
 color: white;

}.Bio img{
  width: 20ch;
  height: 20ch;
  border-radius: 40px;
  
  
  
  
}

.Bio{
  display: flex;
  flex-direction: row;
  justify-content:center;
  width:fit-content;
  margin-inline-start: 200px;
  margin-inline-end: 200px;
  
}

#minibio{
color: #D9D9D9;
text-align:center;
margin-top: 100px;
margin-left: 20px ;
margin-right: 20px;
padding-left: 40px;
padding-right:40px




}
#subheader{
  color: #CAD2C5;
  text-align: center;
  justify-content: center;
  font-family: Kalam;
  margin-top: 0;

}
.Move{
  text-align: center;
color: #CAD2C5;
display: flexbox;
align-items: center;


}
.Move img{
  width: 5ch;
  height: 5ch;
}


.Projects{
background-color:#52796F ;
color: black;
margin-top: 10px;
min-height: 100vh;
text-align: center;

}
.Socials{
  background-color: #CAD2C5;
  min-height: 50vh;
  text-align: center;
}