.scbuttons{
   mix-blend-mode: multiply;
background: none;
margin-top: 30px;

}
.scbuttons img{
width: 60%;
}


#Linkedin img{
}

#github img{
   width: 80%;
}
#mail img{

   width: 70%;
}
div #Linkedin.col{
    
}